<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeleteInterval</key>
	<real>144000</real>
	<key>AppID</key>
	<string>994173600</string>
	<key>Mode</key>
	<string>Dev</string>
	<key>Self</key>
	<string>https://itunes.apple.com/us/app/mou-daichitakunai!!-ren-gong/id994173600</string>
	<key>NoImage</key>
	<string>no_image.jpg</string>
	<key>Timeout</key>
	<integer>180000</integer>
	<key>LoadInterval</key>
	<integer>900</integer>
	<key>RankingMax</key>
	<integer>30</integer>
	<key>ThemeColor</key>
	<dict>
		<key>Red</key>
		<integer>221</integer>
		<key>Green</key>
		<integer>0</integer>
		<key>Blue</key>
		<integer>19</integer>
	</dict>
	<key>ThemeColorSub</key>
	<dict>
		<key>Red</key>
		<integer>73</integer>
		<key>Green</key>
		<integer>8</integer>
		<key>Blue</key>
		<integer>10</integer>
	</dict>
	<key>Title</key>
	<dict>
		<key>Image</key>
		<string>no_image.jpg</string>
		<key>Text</key>
		<string>ITニュースまとめ</string>
	</dict>
	<key>ProdUrls</key>
	<dict>
		<key>NewArticle</key>
		<string>http://wakuwakupark.xsrv.jp/batch/crawler/getArticle.php</string>
		<key>RankingArticle</key>
		<string>http://wakuwakupark.xsrv.jp/batch/crawler/getRankingArticle.php</string>
		<key>AccessLog</key>
		<string>http://wakuwakupark.xsrv.jp/batch/crawler/sendAccessLog.php</string>
	</dict>
	<key>DevUrls</key>
	<dict>
		<key>NewArticle</key>
		<string>http://wakuwakupark.xsrv.jp/batch/crawler/getArticle.php</string>
		<key>RankingArticle</key>
		<string>http://wakuwakupark.xsrv.jp/batch/crawler/getRankingArticle.php</string>
		<key>AccessLog</key>
		<string>http://wakuwakupark.xsrv.jp/batch/crawler/sendAccessLog.php</string>
	</dict>
	<key>CommonUrls</key>
	<dict>
		<key>GetSetting</key>
		<string>http://wakuwakupark.xsrv.jp/batch/crawler/getSetting.php</string>
	</dict>
	<key>Inquiry</key>
	<dict>
		<key>Mail</key>
		<string>yahagi1989@gmail.com</string>
	</dict>
</dict>
</plist>
