<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GameNews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FFEA6E4A1D65FDE50024DB3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFEA6E611D65FDE60024DB3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFEA6E6C1D65FDE60024DB3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
